body {
    background: linear-gradient(135deg, #d1c406, #2a2a2a);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    padding: 1rem;
}



.main-content {
    background-color: #ffffff;
    min-height: 80vh;
    padding: 20px;
}

.page-title {
    background: #00000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.tabla-auxiliares {
    background-color: #ffffff;
    font-size: 0.9rem;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
}